.skills__contain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.skills_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--container-color);
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills_content:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.skills__tittle {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.skills__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: 1rem;
}

.skills__container {
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: repeat(5, 1fr);
    height: 100px;
}

/* Responsive Design */
@media (max-width: 768px) { /* Tablet */
    .skills__contain {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills__icon {
        font-size: 1.55rem;
    }
}

@media (max-width: 650px) { /* Mobile */
    .skills__contain {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .skills__container {
        grid-template-columns: repeat(6, 1fr);
        
    }

    .skills__icon {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 480px) {
    .skills__icon {
        font-size: 1.8rem;
    }

    .skills__container {
        grid-template-columns: repeat(5, 1fr);
    }

    .skills__contain {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills__icon {
        font-size: 1.8rem;
    }

    .skills__tittle {
        font-size: 1rem;
    }


    
    
    
}